<?xml version="1.0"?>
<config>
    <modules>
        <AW_Afptc>
            <version>1.1.0</version><platform>ce</platform>
        </AW_Afptc>
    </modules>
    <frontend>         
        <translate>
            <modules>
                <AW_Afptc>
                    <files>
                        <default>AW_Afptc.csv</default>
                    </files>
                </AW_Afptc>
            </modules>            
        </translate>
        <events> 
            <checkout_cart_save_after>
                 <observers>
                    <awafptc_checkout_cart_save_after>
                        <type>singleton</type>
                        <class>awafptc/observer</class>
                        <method>checkoutCartSaveAfter</method>
                    </awafptc_checkout_cart_save_after>
                </observers>
            </checkout_cart_save_after>
            <sales_quote_load_after>
                <observers>
                    <awafptc_sales_quote_load_after>
                        <type>singleton</type>
                        <class>awafptc/observer</class>
                        <method>quoteAfterLoad</method>
                    </awafptc_sales_quote_load_after>
                </observers>
            </sales_quote_load_after>
            <checkout_cart_product_add_after>
                <observers>
                    <awafptc_checkout_cart_product_add_after>
                        <type>singleton</type>
                        <class>awafptc/observer</class>
                        <method>checkoutCartProductAddAfter</method>
                    </awafptc_checkout_cart_product_add_after>
                </observers>
            </checkout_cart_product_add_after>
            <sales_quote_remove_item>
                <observers>
                    <awafptc_sales_quote_remove_item>
                        <type>singleton</type>
                        <class>awafptc/observer</class>
                        <method>salesQuoteRemoveAfter</method>
                    </awafptc_sales_quote_remove_item>
                </observers> 
            </sales_quote_remove_item>
            <checkout_cart_update_items_after>
                <observers>
                    <awafptc_checkout_cart_update_items_after>
                        <type>singleton</type>
                        <class>awafptc/observer</class>
                        <method>checkoutCartUpdateItemsAfter</method>
                    </awafptc_checkout_cart_update_items_after>
                </observers>
            </checkout_cart_update_items_after>
        </events>
        <routers>
            <awafptc>
                <use>standard</use>
                <args>
                    <module>AW_Afptc</module>
                    <frontName>awafptc</frontName>
                </args>
            </awafptc>
        </routers>
        <layout>
            <updates>
                <awafptc module="AW_Afptc">
                    <file>aw_afptc.xml</file>
                </awafptc>
            </updates>
        </layout>        
    </frontend>
    <admin>
        <routers>
            <awafptc_admin>
                <use>admin</use>
                <args>
                    <module>AW_Afptc</module>
                    <frontName>awafptc_admin</frontName>
                </args>
            </awafptc_admin>
        </routers>
    </admin>
    <adminhtml> 
        <translate>
            <modules>
                <AW_Afptc>
                    <files>
                        <default>AW_Afptc.csv</default>
                    </files>
                </AW_Afptc>
            </modules>
        </translate>        
        <layout>
            <updates>
                <awafptc module="AW_Afptc">
                    <file>aw_afptc.xml</file>
                </awafptc>
            </updates>
        </layout>
    </adminhtml>   
    <global>       
        <events>  
            <catalog_product_get_final_price>
                <observers>
                    <aw_afptc_get_final_price>
                        <class>awafptc/observer</class>
                        <method>getFinalPrice</method>
                    </aw_afptc_get_final_price>>
                </observers>
            </catalog_product_get_final_price> 
        </events>
        <sales>
            <quote>
                <totals>
                    <awafptcfree>
                        <class>awafptc/quote_freeshipping</class>
                        <after>freeshipping</after>
                        <before>tax_subtotal,shipping</before>
                    </awafptcfree>                   
                </totals>                 
            </quote>
        </sales>
        <models>
            <awafptc>
                <class>AW_Afptc_Model</class>
                <resourceModel>awafptc_resource</resourceModel>
            </awafptc> 
            <awafptc_resource>
                <class>AW_Afptc_Model_Resource</class>
                <entities>
                    <rule>
                        <table>aw_afptc_rules</table>
                    </rule>
                    <used>
                        <table>aw_afptc_used</table>
                    </used>
                    <state>
                        <table>aw_afptc_quote_state</table>
                    </state>
                </entities>
            </awafptc_resource>            
        </models>
        <resources>
            <awafptc_setup>
                <setup>
                    <module>AW_Afptc</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </awafptc_setup>
            <awafptc_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </awafptc_write>
            <awafptc_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </awafptc_read>
        </resources>
        <blocks>
            <awafptc>
                <class>AW_Afptc_Block</class>
            </awafptc>
        </blocks>
        <helpers>
            <awafptc>
                <class>AW_Afptc_Helper</class>
            </awafptc>
        </helpers>       
    </global> 
    <default>
        <awafptc>
            <general>
                <enable>1</enable>
                <allow_readd_to_cart>1</allow_readd_to_cart>
            </general>
            <popup>
                <do_not_show_allowed>1</do_not_show_allowed>
                <cookie_lifetime>86400</cookie_lifetime>
            </popup>
        </awafptc>              
    </default>  
</config>