<?xml version="1.0"?>
<config>
    <modules>
        <Browsewire_Cmbannerslider>
            <version>1.0.2</version>
        </Browsewire_Cmbannerslider>
    </modules>
    <global>
        <models>
            <cmbannerslider>
                <class>Browsewire_Cmbannerslider_Model</class>
                <resourceModel>cmbannerslider_mysql4</resourceModel>
            </cmbannerslider>
            <cmbannerslider_mysql4>
                <class>Browsewire_Cmbannerslider_Model_Mysql4</class>
                <entities>
                    <cmbannerslider>
                        <table>cmbannerslider</table>
                    </cmbannerslider>
                </entities>
            </cmbannerslider_mysql4>
        </models>
        <resources>
            <cmbannerslider_setup>
                <setup>
                    <module>Browsewire_Cmbannerslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cmbannerslider_setup>
            <cmbannerslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cmbannerslider_write>
            <cmbannerslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cmbannerslider_read>
        </resources>
        <blocks>
            <cmbannerslider>
                <class>Browsewire_Cmbannerslider_Block</class>
            </cmbannerslider>
        </blocks>
        <helpers>
            <cmbannerslider>
                <class>Browsewire_Cmbannerslider_Helper</class>
            </cmbannerslider>
        </helpers>
    </global>
    <frontend>
        <routers>
            <cmbannerslider>
                <use>standard</use>
                <args>
                    <module>Browsewire_Cmbannerslider</module>
                    <frontName>cmbannerslider</frontName>
                </args>
            </cmbannerslider>
        </routers>
        <layout>
            <updates>
                <cmbannerslider>
                    <file>cmbannerslider.xml</file>
                </cmbannerslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<cmbannerslider>
				<use>admin</use>
				<args>
					<module>Browsewire_Cmbannerslider</module>
					<frontName>cmbannerslider</frontName>
				</args>
			</cmbannerslider>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<cmbannerslider module="cmbannerslider">
				<title>Banner Slider</title>
				<sort_order>82</sort_order>               
				<children>
					<items module="cmbannerslider">
						<title>Manage Items</title>
						<sort_order>1</sort_order>
						<action>cmbannerslider/adminhtml_cmbannerslider</action>
					</items>
				</children>
			</cmbannerslider>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Browsewire_Cmbannerslider>
							<title>Cmbannerslider Module</title>
							<sort_order>10</sort_order>
						</Browsewire_Cmbannerslider>
						<system>
							<children>
								<config>
									<children>
										<cmbannerslider translate="title" module="cmbannerslider"> 
											<title>Cmbanner Slider Settings</title>
											<sort_order>50</sort_order>
										</cmbannerslider>
									</children>							
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<cmbannerslider>
					<file>cmbannerslider.xml</file>
				</cmbannerslider>
			</updates>
		</layout>
    </adminhtml>   

</config>
